.video {
    width: 100%;
    aspect-ratio: 16 / 9; /* Mantém a proporção do vídeo padrão sem achatar */
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 30px; /* Isso cria um espaço embaixo de cada vídeo */
}